extends ../../../layout

include ../../demo/alerts
include ../../demo/webexGlobal
include ../../demo/pt-audio
include ../../demo/pt-video
include ../../demo/period-select

block content
    a(href="/dash/teams") 
        i.fa.fa-arrow-left(aria-hidden="true" style="font-size: 26px;margin: 0 15px 2px 0;")
    h1 Titulo
    nav.float-end.d-flex(style="--bs-breadcrumb-divider: \'>\';" aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item.active(aria-current="page")
                a(href="/dash/menu") Inicio
            li.breadcrumb-item Microsoft Teams
        //- +model()
    //- .row#dash
    //-     h2 Alertas
    //-     +alerts()
    .row#dash
        h2 Microsoft Teams Global Status
        +webexGlobal()
    .row#dash
        h2 Microsoft Teams Meeting Session Initiation - Audio
        +pt-audio()
        h2 Microsoft Teams Meeting Session Initiation - Video
        +pt-video()
        
    br
block scripts
    //- libs 
    script(src="/javascripts/fmt.js")
    script(src="/javascripts/libs/ChartLib.js") 
    script(src="/javascripts/main.js")
    script(src="/javascripts/demo/webexGlobal.js")
    script loopDash();
