mixin filterslevel1()
    .row.period-container
        .col-3
            h6.m-0 Filtro por pisos:
            select.form-control.mt-2#locations
                option(value=1) Piso 1 
        .col-3
            h6.m-0 Filtro por fecha:
            select.form-control.mt-2#locations
                option(value=1) Piso 1
        .col-3
            h6.m-0 Filtro por SSID:
            select.form-control.mt-2#ssid
                option(value=1) GFNORTE 
                option(value=1) BYOD 
                option(value=1) GFBA 
                option(value=1) INVITADOS 
        .col-3
            h6.m-0 Filtro por frecuencia:
            select.form-control.mt-2#ssid
                option(value=1) 2.5 GHz
                option(value=1) 5 GHz