mixin licencias(id,title,data,regionId)
    .widget.col-md-6
        div
            .head
                h5 Licencias VPN
            .body
                table(style="width:100%;")
                    tr
                        td
                            h4 Licencias totales: 138&nbsp
                    tr
                        td.text-center
                            canvas#chartlicencias(style="margin-top: 10px;width:150px;height:200px;")
                        td#data
                