mixin logs(id)
    .widget.col-md-12.col-sm-12.col-lg-12.col-xl-12.p-2
        div
            .head
                h5 Logs
            .body 
                table.table.display(style="width:100%;" id=id)
                    thead
                        th Fecha  
                        th Id_ori_h
                        th Id_ori_p
                        th Duración
                        th Id_resp_h 
                        th Id_resp_p
                        th Servicio