mixin radarvpn(id,title,data,regionId)
    .widget.col-md-6
        div
            .head 
                h5 Conexiones VPN
            .body
                table(style="width:100%;")
                    tr
                        td
                            h4 Conexiones totales: 130&nbsp
                    tr
                        td.text-center
                            canvas#chartvpn(style="margin-top: 10px;width:250px;height:200px;")
                        td#datas
                