mixin filters()
    .filters.col.p-2
        | Filters: (none)
        i.bi.bi-plus
        //- div
        //-     .body.p-1 
        //-             .row
        //-                 .d-xl-none.d-lg-none.col-md-2.col-sm-1
        //-                 .col-sm-12.col-md-8.col-lg-6.col-xl-6.col-6.p-0.justify-content-center
        //-                     select#filters(style="width: 100%",name="states[]", multiple)
        //-                         option(value="ADT") ADT
        //-                         option(value="SEFCU") SEFCU
        //-                         option(value="ELK") ELK
        //-                         option(value="AZURE") AZURE