mixin server(id)
   .widget.col.p-2
        div
            .head
                .filters(style="border: 0;")
                    a(href="/dash/servers/win")
                        .title Servidores
            div(id="servers_" + id)
