mixin algoritmos(title)
    .widget.col-md-6.col-sm-6.col-lg-4.col-xl-4.p-2
        div
            .head
                .filters
                    a(href="#")
                        h4.m-0= title
                    .text-end
                        //- .sem.green
                        img.close(src="/images/icon-btn-close.svg")
            .body 
                #algoritmos
                .row(style="height:29px;")