mixin alerts_status()
    .col-3
        .widget
            div
                .head
                    h4 Alerts by status
                .body
                    canvas#alert_status(style="width: 100%; height: 15em")