mixin alerts_vector()
    .col-4
        .widget
            div
                .head
                    h4 Alerts by attack vector
                .body
                    canvas#alert_vector(style="width: 100%; height: 15em")
