mixin top_domains()
    .col-4
        .widget
            div
                .head
                    h4 Top 10 domains
                .body
                    table#top_domain(style="width: 100%")
                        thead
                            th
                            th
                            th
                        tbody