mixin top_ip()
    .col-4
        .widget
            div
                .head
                    h4 Top 10 IP
                .body
                    table#top_ip(style="width: 100%")
                        thead
                            th
                            th
                            th
                        tbody