mixin w4(img, title, sem, col)
    .widget.col-md-12.col-sm-12.col-lg-3.p-2(class="col-xl-"+ col)
        .card
            .card-header.p-2.pt-2.border-0
                a(href="/network")
                    .rounded.text-center.card-sem(class=sem)
                        img(src="/images/iconos/"+img+".svg", alt="", style="width:60px;height:60px;padding: 10px;")
                .text-end.pt-1
                    h1.title#percent
                .text-end.pt-1
                    h6.title= title
            .card-footer.py-0.px-2.border-0
                .row    
                    .col-5.p-0
                        h6.mb-0 Usado
                        br
                        h6.mb-0 Disponible
                    .col-7.text-end.p-0
                        h4.mb-0.green#used
                        br
                        h4.mb-0.gray#avail