mixin w8(img, title, sem, col)
    .widget.col-md-12.col-sm-12.col-lg-3.p-2(class="col-xl-"+ col)
        .card
            .card-header.p-2.pt-2.border-0
                .rounded.text-center.card-sem(class=sem)
                    img(src="/images/iconos/"+img+".svg", alt="", style="width:60px;height:60px;padding: 10px;")
                .text-end.pt-1
                    h4.title= title
            .card-footer.py-0.px-2.border-0
                .row    
                    .col-6.p-0.text-center
                        h3.mb-0.green 241 Mb
                        br
                        h6.title Entrada
                        br
                        h3.mb-0.green 35%
                    .col-6.p-0.text-center
                        h3.mb-0.green 137 Mb
                        br
                        h6.title Salida
                        br
                        h3.mb-0.green 13%