mixin banda(title)
    .widget.p-2.col-4
        div
            .head
                .title=title
            .body 
                table(style="width:100%;")
                    tr  
                        td.text-center
                            canvas#chartbanda(style="width:200px;height:150px;") 
