mixin incident(id)
    .widget.p-2.col-8
        div
            .head
                .title Incidentes de Red
            .body 
                table(style="width:100%;" id=id)
                    thead
                        th Fecha incio 
                        th Fecha fin
                        th Duración
                        th Categoría
                        th Severidad 
                        th IP
                        th Dispositivo
