$BACK1: #323233;
$BACK2: #384145;
$WIDGET: #272c31;
$DBLUE: #08243c;
$YELLOW: #FF8E0E;
$LBLUE: #4fc6eb;
$LGRAY: #808080;
$MBLUE: #004d96;
$RED: #F6404F;
$GREEN: #36BA6E;
$MAX: #272c4d;
$IN: #FF8E0E;
$OUT: #05abe0;
$BLUE1: #4D8FD6;
$ORANGE: #D77420;
$LILA: #B769E9;
$YELLOW1: #FEBC46;
$AQUA: #27CBB9;
$PINK: #E7537F;
$BLUE2: #67ABF3;
$WHITE: #FFFFFF;

