#filterbar {
    background-color: white;
    padding: 10px 20px;
    .filter {
        display: inline-block;
        border-color: #008eff;
        background-color: #80c6ff;
        padding: 2px 8px;
        border-radius: 0.5em;
        margin: 0 8px;
    }
}
